.cover__link {
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
}

.cover__link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: 0.3;
    -webkit-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.cover__link.cover__link:hover::before {
    opacity: 0.8;
}


