.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, calc((1184px - (16px * 3)) / 4));
    margin: 0 auto;
    gap: 16px;
}

@media screen and (min-width:769px) and (max-width:1279px) {
    .photo-grid {
        width: calc(100vw - 96px);
        grid-template-columns: repeat(auto-fit, calc(((100vw - 96px) - (14px * 2)) / 3));
        gap: 14px;
    }
}

@media screen and (min-width:425px) and (max-width:768px) {
    .photo-grid {
        max-width: calc(100% - 32px);
        grid-template-columns: repeat(auto-fit, calc(((100vw - 48px) - 16px) / 2));
        gap: 16px;
    }
}

@media screen and (max-width:425px){
    .photo-grid {
        max-width: calc(100% - 32px);
        grid-template-columns: repeat(auto-fit, calc(100vw - 32px));
        gap: 12px;
    }
}
