.cards__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0 0 26px 0;
    padding: 0;
}

.cards__paragraph:last-child {
    margin:0;
}

@media screen and (max-width: 1023px) {
    .cards__paragraph {
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 25px 0;
    }
}
