.lead {
    max-width: 984px;
    margin: 0 auto 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead {
        max-width: calc(100vw - 96px);
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 100vw;
    }
}
