.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 92px;
    max-width: 100vw;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .content {
        gap: 88px;
    }
}

@media screen and (max-width:767px) {
    .content {
        gap: 64px;
    }
}
