.footer__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    color: #ffffff;
    margin: 0;
    padding: 0;
    opacity: 1;
    -webkit-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

.footer__link:hover {
     opacity: 0.8;
     text-decoration: underline;
}

@media screen and (max-width:767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}

