.footer__link {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    color: #fff;
    margin: 0;
    padding: 0;
    -webkit-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__link:last-child {
        margin-bottom: 0;
    }
}

