.cards__item {
    margin: 0 auto;
    padding: 0;
    display: grid;
    row-gap: 48px;
    grid-template-areas:
        "title . website"
        "image . text-container";
    grid-template-columns: 460px 40px 484px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cards__item {
        grid-template-columns: 1fr 32px 1.035fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cards__item {
        grid-template-columns: 1fr 28px 1.034fr;
    }
}

@media screen and (max-width: 767px) {
    .cards__item {
        grid-template-columns: 100vw;
        grid-template-areas:
        "title"
        "website"
        "image"
        "text-container";
        row-gap: 32px;
        justify-items: center;
    }
}
