.cards__item {
    margin: 0 auto;
    padding: 0;
    display: grid;
    row-gap: 48px;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    grid-template-columns: 460px 484px;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .cards__item {
        grid-template-columns: 440px 456px;
        -webkit-column-gap: 32px;
           -moz-column-gap: 32px;
                column-gap: 32px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .cards__item {
        grid-template-columns: 340px 352px;
        -webkit-column-gap: 28px;
           -moz-column-gap: 28px;
                column-gap: 28px;
    }
}

@media screen and (min-width:426px) and (max-width:767px) {
    .cards__item {
        grid-template-columns: 340px 352px;
        -webkit-column-gap: 28px;
           -moz-column-gap: 28px;
                column-gap: 28px;
    }
}

@media screen and (max-width:425px) {
    .cards__item {
        grid-template-columns: 100vw;
        row-gap: 32px;
        justify-items: center;
    }
}
