.cards__title {
    max-width: 460px;
    grid-area: title;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cards__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 330px;
    }
}

@media screen and (max-width: 767px) {
    .cards__title {
        font-size: 32px;
        line-height: 35px;
        width: calc(100% - 32px);
        max-width: none;
    }
}
