.intro {
    min-width: 984px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        min-width: calc(100% - 96px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        max-width: calc(100% - 48px);
        min-width: 0;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: calc(100% - 32px);
        min-width: 0;
    }
}

