.lead__bottom-text {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    justify-self: flex-start;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .lead__bottom-text {
        margin-left: 24px;
    }
}

@media screen and (max-width: 425px) {
    .lead__bottom-text {
        margin-left: 16px;
    }
}
