.cover {
    background: url(../../images/cover/cover__background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1184px;
    height: 740px;
    display: -webkit-box;
    display: -ms-flexbox;
    margin: 0 auto 92px;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100vw;
        height: calc(100vw*0.625);
    }
}

@media screen and (min-height: 425px) and (max-width: 768px) {
    .cover {
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        margin: 0 auto 64px;
    }
}
