.cards__link {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #fff;
    margin: 0;
    padding: 0;
    -webkit-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

.cards__link:hover {
    opacity: 0.8;
}
