.cards__text-container {
    grid-column: 2;
    grid-row: 2;
}

@media screen and (max-width:425px) {
    .cards__text-container {
        grid-row: 4;
        grid-column: 1;
        max-width: calc(100vw - 32px);
    }
}
