.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    margin: 0 auto 24px;
    max-width: 1184px;
}
