.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    margin: 0 auto 24px;
    padding: 0;
    max-width: 1184px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        max-width: calc(100% - 96px);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 186px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 0 24px 16px;
    }
}
