.cards__website {
    grid-area: website;
    margin: 0;
    padding: 0;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .cards__website {
        width: calc(100vw - 32px);
    }
}
